@font-face {
    font-family: 'angels';
    src: url(assets/Angels.ttf);
}

@font-face {
    font-family: 'bga';
    src: url(assets/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: 'harriet';
    src: url(assets/HARRIETTEXTREGULAR.OTF);
}

@font-face {
    font-family: 'mackay-bold';
    src: url(assets/BasisGrotesqueArabicPro-Regular.ttf);
}