@import url(assets/fonts.css);

*{
    padding: 0;
    margin: 0;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 133px;
    overflow: hidden;
}

.main-header > a{

    margin: 25px;
}

.header-links{
    margin-right: 25px;

}


.header-links > p{
    display: inline;
    padding: 0 10px;
    font-family: 'bga', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.4px; 
}

.featured-content{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.featured-content > img{
    padding-top: 20px;
    width: 854px;
    height: 533px;
    flex-shrink: 0; 
}

.featured-content > h1{
    width: 854px;
    text-align: center;
    font-family: 'mackay-bold';
    font-size: 54px;
    font-weight: 700; 
    margin: 50px 0 0 0;
}

.featured-content > p{
    color: #000;
    text-align: center;
    font-family: 'harriet';
    font-size: 20px;
    font-weight: 400; 
    width: 450px;
    letter-spacing: 1.5px;
    margin: 50px 0 0 0;
}

.line-element{
    background-color: #000;
    height: 2px;    
    width: 640px; 
    margin-top: 45px;
}

.all-articles{
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;

}

.all-articles > h1{
    text-align: center;
    font-family: 'mackay-bold';
    font-size: 44px;
    font-weight: 700;
    margin: 50px 0 25px 0;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.article > p{
    font-family: 'bga';
    width: 262px;
    text-align: center; 
    font-size: 22px;
}

.article-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article-group > a {
    text-decoration: none;
    color: #000;
}

footer{
    margin-top: 113px;
    height: 464px; 
    background-color: #000;
}

.footer-decoration{
    font-family: 'bga';
    color: #FFF;
    display: flex;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px; 
    line-height: 80px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.footer-decoration > p {
    flex-shrink: 0;
    padding: 0 10px;
}

.footer-decoration > p:nth-child(odd){
    font-family: 'bga-bold';
}

ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    padding: 0 10px;
}

.footer-content{
    font-family: 'bga';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-top: 45px;
}

.footer-content p{
    width: 488px;
    flex-shrink: 0;
    text-align: center;
}

li a{
    color: #FFF;
}

.footer-content > * {
    margin: 25px;
}
