@font-face {
    font-family: 'bga';
    src: url(./fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: 'harriet';
    src: url(./fonts/HARRIETTEXTREGULAR.OTF);
}

@font-face {
    font-family: 'mackay-bold';
    src: url(./fonts/Rene\ Bieder\ -\ Mackay\ DEMO\ Bold.otf);
}

@font-face {
    font-family: 'bga-bold';
    src: url(./fonts/BasisGrotesqueArabicPro-Bold.ttf);
}